.not-found {
  height: 100vh;
  width: 100vw;
  @include universal-flex-display(center, center);
  flex-direction: column;

  .back-btn {
    margin-top: 3rem;
    width: clamp(200px, 70%, 350px);
    color: $clean-white;
    background: none;
    border: none;
    background-color: $orange;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: clamp(1rem, 5.5vw, 1.3rem);

    &:active {
      transform: scale(0.9);
    }
  }
}
