* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: $clean-white;
  background-color: $dark-grey;
}

h1,
h2,
h3 {
  font-family: $ff-heading;
}
p,
a {
  font-family: $ff-body;
}

h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  font-size: $fs-h1;
  margin: 2rem 0;
}

h2 {
  font-size: $fs-h2;
  margin: 1rem 0;
}

h3 {
  font-size: $fs-h3;
  margin: 1rem 0;
}

p {
  font-size: $fs-p;
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
}
