@import url("https://fonts.googleapis.com/css2?family=Tienne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #eeeeee;
  background-color: #161a20;
}

h1,
h2,
h3 {
  font-family: "Tienne", serif;
}

p,
a {
  font-family: "Joan", serif;
}

h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  font-size: clamp(2rem, 5.5vw, 4rem);
  margin: 1.5rem 0;
}

h2,
h3,
p {
  margin: 0.5rem 0;
}

h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h3 {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

p {
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

a {
  text-decoration: none;
}

.home {
  width: 100vw;
  max-width: 100%;
  padding: 1rem 0;
}

.home-container {
  width: clamp(300px, 90%, 1000px);
  min-height: 100vh;
  max-height: 150vh;
  margin: 0 auto;
  background-color: #222831;
  border: 2px solid rgba(235, 225, 225, 0.432);
  border-radius: 15px;
  position: relative;
}

.home-container .container {
  width: clamp(270px, 80%, 700px);
  margin: 0 auto;
}

.not-found {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.not-found .back-btn {
  margin-top: 3rem;
  width: clamp(200px, 70%, 350px);
  color: #eeeeee;
  background: none;
  border: none;
  background-color: #fd7014;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: clamp(1rem, 5.5vw, 1.3rem);
}

.not-found .back-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact-page {
  width: 100vw;
  max-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0;
}

.contact-page-container {
  width: clamp(300px, 90%, 1000px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  background-color: #222831;
  border: 2px solid rgba(235, 225, 225, 0.432);
  border-radius: 15px;
  position: relative;
}

.contact-page-container .container {
  width: clamp(270px, 80%, 700px);
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 120vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-page-container .container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-page-container .container div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-page-container .container div p {
  margin-left: 1em;
}

.contact-page-container .container .button-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-page-container .container .image-name-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(235, 225, 225, 0.432);
}

.contact-page-container .container .email-container,
.contact-page-container .container .number-container,
.contact-page-container .container .address-container,
.contact-page-container .container .tag-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgba(235, 225, 225, 0.432);
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  width: clamp(200px, 70%, 500px);
  border: none;
  border-radius: 10px;
  outline: none;
  line-height: 1.5rem;
  color: #393e46;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  margin: 2em 0;
  padding: 0.7em;
}

form input::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

form input:-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

form input::-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

form input::placeholder {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

form [placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-list {
  padding: 2rem 0;
}

.contact-list-container {
  max-height: 80vh;
  overflow-y: scroll;
}

.contact-list-container::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(235, 225, 225, 0.432);
  border-radius: 0 1rem 1rem 0;
}

.contact-list-container::-webkit-scrollbar-thumb {
  background-color: rgba(235, 225, 225, 0.432);
  border-radius: 0 1rem 1rem 0;
}

.contact {
  width: 90%;
  min-height: 15vh;
  margin: 2rem auto;
  border: 1px solid rgba(235, 225, 225, 0.432);
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact:hover {
  background-color: #393e46;
}

.contact-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.contact-container .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

.groups {
  height: 15vh;
  padding: 1rem;
}

.groups-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.user-icon {
  font-size: clamp(2rem, 5.5vw, 3.5rem);
}

.user-info-icon {
  font-size: clamp(4rem, 5.5vw, 6rem);
}

.button-icon {
  font-size: clamp(1.5rem, 5.5vw, 2.5rem);
}

.button-icon:hover {
  color: #fd7014;
}

.create-user-icon {
  position: absolute;
  top: 2%;
  right: 2%;
  border: 2px solid #fd7014;
  border-radius: 50%;
  padding: 0.2em;
  font-size: clamp(2rem, 5.5vw, 4rem);
  color: #fd7014;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.create-user-icon:active {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}
